* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $text-font-stack;
  color: $text-black;
  font-weight: $text-weight-light;
  background-color: $bg-white;
  -webkit-font-smoothing: antialiased;
}
