// Grid
.wrap {
  margin: 0 auto;
  padding: 0 auto;
  max-width: $wrap;
  width: 100%;
}

//Flex
.level {
	display: flex;

	.flex {
		flex: 1;
	}
}

// Colors
.t-black { color: $text-black }
.bg-white { background-color: $bg-white }
