// Fonts
$text-font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$text-weight-light: 300 !default;
$text-weight-regular: 400 !default;
$text-weight-medium: 500 !default;
$text-weight-bold: 700 !default;


// Colors
$text-black: #222222 !default;
$bg-white: #FFFFFF !default;


// Wraps
$wrap: 960px !default;
